<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Train</title>
</head>
<body>
<a href="{{ url_for('check_result') }}">Просмотреть результаты обучения</a>
<a href="{{ url_for('file_predict') }}">Предсказать результат на тестовой выборке</a>
{% if forest == True %}
    <form method="get" action="{{ url_for('prepare_forest') }}">
        <button type="submit">Вернуться к выбору параметров</button>
    </form>
{% endif %}

{% if forest == False %}
    <form method="get" action="{{ url_for('prepare_boosting') }}">
        <button type="submit">Вернуться к выбору параметров</button>
    </form>
{% endif %}

<form method="get" action="{{ url_for('index') }}">
    <button type="submit">Вернуться на Главную</button>
</form>

</body>
</html>